
.obsidian/config
.obsidian/workspace
**/.DS_Store
/_drafts/
test/css/breakpoints.css
test/css/tstyle.css
test/images/cursor.svg
test/images/discord.svg
test/images/facebook.svg
test/images/instagram.svg
test/images/linkedin.svg
test/images/youtube.svg
test/js/easings.js
