* {
    font-family: 'Barlow', sans-serif;
    color: #ffffff;
}

.section {
    background-color: #1C0C2D;
}

.header {
    margin-left: 120px;
}

#logo {
    width: 500px;
}

.home h1 {
    display: none;
}

.home h2 {
    font-family: Space Mono', monospace;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.1px;
    margin-top: 32px;
}

.home p {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 25.6px;
    margin-top: 32px;
}

.paracut {
    max-width: 525px;
    margin: 0;
}

.home a {
    color: #6DE2D5;
    text-decoration: none;
    font-weight: bold;
}

.home a:hover {
    color: #ffffff;
}

.early {
    margin-left: 60vw;
}

.tickets h2 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.1px;
}

.tickets p {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    width: 350px;
}

.tickets button {
    border: none;
    background-color: #1C0C2D;
    padding: 0;
    margin: 15px 0 0 0;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    color: #1C0C2D;
    -webkit-text-stroke-color: #6DE2D5;
    -webkit-text-stroke-width: 2px;
    letter-spacing: 2px;
}

a, button {
    cursor: pointer;
}

.ticket_mock img {
    height: 240px;
}

.ticket_mock {
    position: absolute;
    margin-top: calc(50vh - 120px);
}

#buy_tickets #buy {
    position: absolute;
    width: 420px;
    top: calc(50vh - 210px);
    right: -15%;
    animation: rotation 20s infinite linear;
    z-index: 5;
    transition: 0.25s;
}

#buy_tickets #eye {
    position: absolute;
    width: 300px;
    top: calc(50vh - 150px);
    right: -10%;
    z-index: 10;
    transition: 0.25s;
}

/**/

#buy_tickets #eye:hover {
    width: 250px;
    top: calc(50vh - 125px);
    right: -7.5%;
}

#buy_tickets:hover {
    cursor: pointer;
}

/* XSmall devices */
@media (max-width: 576px) {
    .header {
        margin-left: 0;
        margin-top: -150px;
    }
    #logo {
        width: 300px;
    }
    .home {
        text-align: center;
    }
    .home h2 {
        font-size: 18px;
        line-height: 27.5px;
    }
    .home p {
        font-size: 18px;
        line-height: 22px;
    }
    #buy_tickets, #buy, #eye {
        z-index: 100;
    }
    #buy_tickets #buy {
        width: 280px;
        top: calc(100vh - 220px);
        right: calc(50vw - 140px);
    }
    #buy_tickets #eye {
        width: 230px;
        top: calc(100vh - 190px);
        right: calc(50vw - 115px);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .header {
        margin-left: 24px;
    }
    #logo {
        width: 350px;
    }
    .home {
        text-align: left;
    }
    .home h2 {
        font-size: 18px;
        line-height: 27.5px;
    }
    .home p {
        font-size: 18px;
        line-height: 22px;
    }
    #buy_tickets, #buy, #eye {
        z-index: 100;
    }
    #buy_tickets #buy {
        width: 325px;
        top: calc(50vh - 162.5px);
        right: -17.5%;
    }
    #buy_tickets #eye {
        width: 230px;
        top: calc(50vh - 115px);
        right: -10%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header {
        margin-left: 60px;
    }
    #logo {
        width: 400px;
    }
    .home {
        text-align: left;
    }
    .home h2 {
        font-size: 21px;
        line-height: 32px;
    }
    .home p {
        font-size: 21px;
        line-height: 25.6px;
    }
    #buy_tickets, #buy, #eye {
        z-index: 100;
    }
    #buy_tickets #buy {
        width: 325px;
        top: calc(50vh - 162.5px);
        right: -15%;
    }
    #buy_tickets #eye {
        width: 230px;
        top: calc(50vh - 115px);
        right: -10%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .home {
        text-align: left;
    }
    .paracut {
        margin-left: 0;
    }
    .header {
        margin-left: 60px;
        margin-top: 0;
    }
    #logo {
        width: 500px;
    }
    #buy_tickets #buy {
        width: 420px;
        top: calc(50vh - 210px);
        right: -15%;
    }
    
    #buy_tickets #eye {
        width: 300px;
        top: calc(50vh - 150px);
        right: -10%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header {
        margin-left: 120px;
    }
    #buy_tickets #buy, #buy_tickets #eye {
        display: block;
    }
    .home {
        text-align: left;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #buy_tickets #buy {
        right: -10%;
    }
    #buy_tickets #eye {
        right: -7.5%;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}