* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    overflow: hidden;
    max-height: 100vh;
}

a {
    text-decoration: none;
}

/* TICKETS */

#tickets_body {
    background-color: #1c0c2d;
    color: white;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

#tickets_buy_tickets img {
    position: fixed;
    display: block;
    width: 500px;
    top: calc(50vh - 250px);
    left: -425px;
    animation: rotation 20s infinite linear;
    z-index: -10;
    transition: 0.25s;
}

#nav {
    position: fixed;
    top: 10vh;
    left: 13vw;
}

#nav ul li {
    display: inline;
    font-size: 48px;
    color: #B6F2EB;
    margin-top: 3.2%;
    line-height: 47.5px;
    text-align: left;
    letter-spacing: 0.3px;
    font-style: normal;
    font-weight: 900;

}

#nav a {
    color: #B6F2EB;
    font-family: 'Space Mono', monospace;
}

#nav ul #merch a {
    color: #493D57;
    margin-left: 10px;
}

#ishanyapattern {
    position: fixed;
    top: 0;
    left: 21.4vw;
    z-index: -10;
}

#ishanyaticket {
    position: fixed;
    height: 246px;
    top: calc(50vh - 123px);
    left: 13vw;
}

#early_bird {
    position: fixed;
    right: 5vw;
    width: 25vw;
    font-family: Dinpro, sans-serif;
    font-size: 22px;
    z-index: 10;
    height: 50vh;
    margin-top: 25vh; 
}

#early_bird h1 {
    font-size: 33px;
    color: #6DE2D5;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 900;
}

#early_bird p {
    margin-top: 2vh;
}

#early_bird ul {
    margin-top: 2vh;
    list-style-type: "- ";
    list-style-position: inside;;
}

#early_bird button {
    padding: 2vh 0;
    background-color: none;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 900;
    background-color: transparent;
    border:none;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #1c0c2d;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6DE2D5;
    margin-top: 20px;
}

#early_bird button a {
    color: #1c0c2d;
    text-shadow: 0 0 2px #fff;
}

#early_bird button:hover {
    scale: 1.05;
    text-shadow: none;
}

#footer {
    position: fixed;
    left: 13vw;
    bottom: 5vh;
}

#footer p {
    font-family: Dinpro, sans-serif;
    font-size: 14px;
}